// FONTS
$rubik400: 400 18px $rubik;
$rubik500: 500 18px $rubik;
$rubik700: 700 18px $rubik;
$rubikSmall: 500 12px $rubik;
$rubikLarge: 400 32px $rubik;

// COLORS
$veryDarkGray: hsl(0, 0%, 17%);
$darkGray: hsl(0, 0%, 59%);