.searchbar__container {
    display: flex;
    width: 100%;
}
.address__searchbar {
    padding: 19px 24px;
    background-color: #fff;
    color: #2c2c2c;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 269px;
}
.search__button {
    background-color: #000000;
    width: 58px;
    height: 100%;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}