.tracker-group {
    background-image: url('../images/pattern-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    h1 {
        font: $rubikLarge;
        color: #fff;
        margin-bottom: 10px;
    }
}